@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: linear-gradient(to bottom, #ffffff, #f8f7fa, #f1eff5, #ebe7ef, #e6dfe9);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.a::-webkit-scrollbar {
    width: 0px;
  }