@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-color: #efefef;
    min-height: 100vh;
}

.a::-webkit-scrollbar {
    width: 0px;
  }

  .one-line {
    display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: adds "..." for overflow */
  }